$offcanvas-horizontal-width: 230px;
$enable-gradients: true;
$gradient: linear-gradient(0deg, rgba(188,113,255,1) 0%, rgba(128,128,255,1) 100%);
$border-radius: 5%;
@import "./styles/animations/loading";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/animations/bubble";
@import "./styles/general/root";
@import "./styles/general/general";
@import "./styles/blocks/blocks";
@import "./styles/general/landPage";
@import "./styles/general/navbar";
@import "./styles/animations/animations";
@import "./styles/blocks/endGame";
@import "./styles/general/userLogin";

