@media screen and (max-width: 1368px){
  main {
    flex-grow: 1;
    display: flex;
    position: relative;
    background-color: #48ffc2;
    background-image: url('assets/memoryGame/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;


  }
  
  .mesa {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 96vw;
    gap: 17px;
  }
  .mesi{
    display: flex;
  }
  .cardd {
    width: 5.2rem;
    height: 6.4rem;
    margin: 0.5rem;
    border-radius: 0.3em;
    background-image: var(--gradient);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 2;
  }
  
  .card__contenido {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding-top: 0.4rem;

     
  }

  .card__contenido img{
    max-width: 100%;
    // width: 100px;
    margin: 10px;
    border: 3px solid #48ffc2;
    border-radius: 10px;
    background-color: aquamarine;
  }
  .card__contenido p{
    font-size: 1rem;
  }
  .card__contenido::selection {
    background: transparent;
  }
  
  .cardd.descubierta {
    transform: rotateY(-180deg);
  }

  .cardMain{
    // margin: 5% 25% 0% 20%;
    position: relative;
    top: 25px;
    width: 10%;
    height: 100%;
    z-index: 5;

  }
}