@media screen and (max-width: 1368px){
body {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;

   
  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.tableDiv {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50%;
    // margin-right: 10px;
}


}