
body {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;

   
  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.tableDiv {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50%;
    // margin-right: 10px;
}

.cardsReady{
  background-color: rgba(227, 237, 248, 0.754);
  color: #E1522D;
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 28vh;
}